/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}

body {
} */

/* DEBUG */
main hr {
  color: black;
  margin-right: 300px;
  margin-left: 300px;
}
:root {
  --background-debug: purple;
  --border-debug: 2px solid red;
}

.col-header {
  background-color: var(--background-debug);
  border: var(--border-debug);
}

/* MAIN */

main section:nth-child(odd) {
  background-color: #1abc9c;
  color: white;
}

main section:nth-child(even) {
  color: #2c3e50;
}

.header,
.copyright {
  background-color: hsl(210, 29%, 24.3%);
  color: white;
}

footer .about-us {
  background-color: hsl(209.4, 30.5%, 32.7%);
  color: white;
}

/* start section */
.start-img {
  width: 250px;
}

/* portfolio section */
.col-portfolio {
  border-radius: 1rem;
  margin: 10px;
  width: calc(100% / 3 - 20px);
  aspect-ratio: 1.4;
  position: relative;
}

.col-portfolio:first-child {
  background-color: hsl(347, 44.6%, 51.2%);
}

.col-portfolio:nth-child(2) {
  background-color: hsl(187.1, 71.7%, 41.6%);
}

.col-portfolio:nth-child(3) {
  background-color: hsl(0, 14.3%, 6.9%);
}

.col-portfolio:nth-child(4) {
  background-color: hsl(202.5, 74.7%, 43.3%);
}

.col-portfolio:nth-child(5) {
  background-color: hsl(224.9, 85.6%, 38.2%);
}

.col-portfolio:nth-child(6) {
  background-color: hsl(22, 28.7%, 72%);
}

.portfolio-section img {
  width: 250px;
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 12.5px;
}

/* about section */
.about-section p {
  text-align: start;
}

.about-section button {
  background-color: #1abc9c;
  border: 1px solid white;
  color: white;
  border-radius: 0.5rem;
  padding: 5px 10px;
}

/* contact me section */
.contact-me-section button {
  background-color: #1abc9c;
  color: white;
  padding: 5px 10px;
  border-radius: 0.3rem;
  border: 0;
  margin-bottom: 50px;
  margin-top: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  color: white;
}

footer h3 {
  font-size: 15px;
}

footer span {
  font-size: 10px;
}

footer button {
  border-radius: 50%;
  border: 1px solid white;
  background-color: hsl(209.4, 30.5%, 32.7%);
  padding: 5px 2px;
  color: white;
  margin: 0 5px;
}

.footer-button {
  margin: 0 5px;
  width: 20px;
  aspect-ratio: 1;
}

footer a {
  text-decoration: none;
  color: #1abc9c;
}

/* copyright section */
.copyright-text {
  font-size: 10px;
}

/* TABLET MEDIA */
@media screen and (max-width: 768px) {
  .col-portfolio {
    width: calc(100% / 2 - 20px);
  }

  .portfolio-section img {
    width: 200px;
  }
}

/* MOBILE MEDIA */
@media screen and (max-width: 480px) {
  .col-portfolio {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .portfolio-section img {
    width: 406px;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 12.5px;
  }

  .footer-col {
    margin: 20px;
  }
}
