/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}

body {
} */

:root {
  --background-debug: purple;
  --border-debug: 2px solid red;
}

.header,
.copyright {
  background-color: hsl(210, 29%, 24.3%);
}

.col-header {
  background-color: var(--background-debug);
  border: var(--border-debug);
}
