/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

/* .container {
  max-width: 1080px;
  padding: 0;
}

body {
} */

/* DEBUG */
main hr {
  color: black;
  margin-right: 300px;
  margin-left: 300px;
}
:root {
  --background-debug: purple;
  --border-debug: 2px solid red;
}

.col-header {
  background-color: var(--background-debug);
  border: var(--border-debug);
}

.col-portfolio {
  background-color: var(--background-debug);
  border: var(--border-debug);
}

/* MAIN */

main section:nth-child(odd) {
  background-color: #1abc9c;
}

.header,
.copyright {
  background-color: hsl(210, 29%, 24.3%);
}

footer .about-us {
  background-color: hsl(209.4, 30.5%, 32.7%);
}
